<div *ngIf="asset">
 
  <div class="link-container container-fluid">
      <a [routerLink]="[ '/movies' ]" class="category-link"><h1><i class="fas fa-chevron-left"></i> Movies</h1></a>
  </div>

  <div class="container-fluid">
      <h2 style="color: white;">{{asset.title}}</h2> 
  </div>

  <vg-player class="video-player">
    <!-- Got an error when trying to use <vg-overlay-play> -->
      <video #myMedia
              [vgDash]="stream.source"
              [vgDRMLicenseServer]="stream.licenseServers"
              (onGetBitrates)="dashBitrates = $event"
              id="my-video"
              controls
              >
      </video>
  </vg-player>

  <div class="video-info container-fluid">
    <div class="row" style="color: white;">
        <div class="col-12 col-sm-4 col-md-4 col-lg-2 text-center image-container"> 
          <img src={{imageUrl}} />
        </div>

        <div class="col-4 col-sm-4 col-md-2 col-lg-1" style="text-align:right;">
          <p>Duration: </p>
          <p>Director: </p>
          <p>Stars: </p>
        </div>

        <div class="col-8 col-sm-4 col-md-6 col-lg-3">
          <p>{{asset.runtime}} minutes</p>
          <p>{{asset.directors}}</p>
          <p>{{asset.cast}}</p>
        </div>
      
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <a style="color: white; text-decoration: underline;" href="https://www.imdb.com/find?ref_=nv_sr_fn&q={{asset.title | slugifyMovie}}&s=all">IMDB link: {{asset.title}}</a>
          <p>{{asset.description}}</p>
        </div>
    </div>
  </div>
   
</div>
  